/**
 * Theme Name:  Loyly Master
 * Theme URI:   https://i-wp-dev.com
 * Author:      Alex L
 * Author URI:  https://i-wp-dev.com
 * Description: Landing page for Aromen
 * License:     GNU General Public License v2 or later
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 * Tags:        Aromen, iwpdev, elementary, full with, landing
 * Text Domain: iwp
 * Version:      1.0.0
 */
html.no-js{
	margin-top: 0 !important;
}
body{
	 font-family: 'Montserrat', sans-serif  !importants;
	font-size: 13px;
	color: #626262;
	line-height: 23px;
	letter-spacing: 0.02em;
}
.alt-font {
    font-family: 'Montserrat', sans-serif !important;
}
.admin-bar .navbar{
	top: 32px;
}
.navbar{
	margin: 0;
    border: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	width: 100%;
	border-radius: 0;
	position: fixed;
	top: 0;
	z-index: 10;
	border-bottom: 1px solid rgba(255,255,255,.15);
	height: 90px;
	transition: all 0.3s ease;
}
.navbar .row{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	height: 90px;
	align-items: center;
}
.navbar-brand > img{
	height: 58px;
}
nav.shrink {
    background: rgba(0,0,0,1);
    border: none !important;
}
.navbar .navbar-collapse{
	margin: 0 0 0 auto;
}
.navbar .navbar-brand {
	padding: 0;
	height: auto;
	margin: 0;
}
#menu-main-menu{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}
#menu-main-menu li.active a:before{
	width: 100%;
}
#menu-main-menu a{
	font-size: 12px;
	text-transform: uppercase;
	color: #fff ;
	font-weight: 500;
	background-color: transparent;
	position: relative;
}
#menu-main-menu a:before{
	content: '';
	position: absolute;
	bottom: 0;
	height: 2px;
	left: 50%;
	width: 0;
	background: #fff;
	transform: translateX(-50%);
	transition: all 0.3s ease;
}
#menu-main-menu a:hover{
	color: #cacaca ;
}
#home{
	height: 42.969vw;
}
#home .elementor-widget-wrap{
	padding: 0;
}
#home .elementor-widget-wrap p{
	font-weight: 500;
	font-size: 23px;
	line-height: 35px;
	color: #fff;
	margin-bottom: 0px;
}
#home .elementor-widget-wrap h1{
	margin: 0;
	font-size: 89px;
	line-height: 1;
	font-weight: 700;
	position: relative;
	
}
#home .elementor-widget-wrap h1:before{
	content: '';
	position: absolute;
	left: -135px;
	width: 70px;
	height: 14px;
	top: 20px;
	background: #FBAC4B;
}
#home .elementor-widget-wrap .elementor-widget-wrap{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	height: 42.969vw;
	justify-content: flex-end;
	padding-left: 135px;
	padding-bottom: 8.698vw;
}
#about .elementor-widget-wrap{
	padding: 0;
}
#about .elementor-widget-wrap h3{
	font-weight: 500;
	font-size: 39px;
	color: #164F2C;
	line-height: 1.231;
	font-family: 'Montserrat', sans-serif ;
	margin-bottom: 36px;
}
#about .elementor-widget-wrap p {
	font-weight: 300;
	font-size: 18px;
	line-height: 1.944;
	color: #1E1E1E;
	margin-bottom: 36px;
	font-family: 'Montserrat', sans-serif ;
}
#about .elementor-widget-wrap p strong{
	font-weight: 500;
	font-size: 23px;
	line-height: 1.944;
	font-family: 'Montserrat', sans-serif ;
}
#about .elementor-widget-wrap .elementor-widget-wrap{
	padding: 55px 0 30px;
	text-align: right;
}
.description-block{
	padding: 60px 0 50px;
}
.description-block p{
	font-weight: 300;
	font-size: 18px;
	line-height: 1.944;
	color: #1E1E1E;
	margin-bottom: 30px;
	font-family: 'Montserrat', sans-serif ;
}
.description-block ul{
	list-style: none;
}
.description-block ul li{
	font-weight: 300;
	font-size: 18px;
	color: #1E1E1E;
	line-height: 1.944;
	font-family: 'Montserrat', sans-serif ;
}
.hover-box{
	position: relative;
	overflow: hidden;
}
.hover-box .bg-dark-gray{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
	transition: all 0.3s linear;
}
.hover-box  .hover-box-text{
	position: absolute;
	z-index: 1;
	width: 296px;
	background: #fff;
	bottom: 0;
	right: 0;
	height: 150px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: all 0.3s linear;
}
.hover-box:hover .bg-dark-gray{
	opacity: 0;
}
.hover-box:hover .hover-box-more{
	transform: translateX(0px)
}
.hover-box:hover .hover-box-text{
	transform: translateX(-101px)
}
.hover-box  .hover-box-text span{
	font-weight: 500;
	font-size: 23px;
	line-height: 35px;
	padding: 40px 25px 40px 75px;
	text-transform: inherit;
	color: #1E1E1E;
	position: relative;
}
.hover-box  .hover-box-text span:before{
	content: '';
	top: 55px;
	left: 25px;
	position: absolute;
	width: 31px;
	height: 7px;
	background: #FBAC4B;
}
.hover-box .hover-box-more{
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 1;
	transition: all 0.3s linear;
	transform: translateX(100%)
}
.hover-box .hover-box-more a{
	font-size: 18px;
	line-height: 23px;
	color: #fff;
	width: 101px;
	height: 86px;
	background: #FBAC4B;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-transform: inherit;
	padding: 0 20px;
	text-align: center;
}
.desc-block h3{
	font-weight: 500;
	font-size: 39px;
	line-height: 48px;
	color: #164F2C;
	font-family: 'Montserrat', sans-serif ;
	margin-bottom: 25px;
}
.desc-block p{
	font-weight: 300;
	font-size: 18px;
	line-height: 35px;
	color: #1E1E1E;
	margin-bottom: 25px;
	font-family: 'Montserrat', sans-serif ;
}
.desc-block p:last-of-type{
	margin-bottom: 0;
}
.desc-block .elementor-widget-text-editor img{
	margin-bottom: 20px;
}
.product-block .image{
	position: relative;
	overflow: hidden
}
.product-block .image:hover .description{ 
	transform: translateY(0%);
}
.product-block .image .description {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	text-align: center;
	background: rgba(22, 79, 44, 0.75);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 15px;
	transition: all 0.3s linear;
	transform: translateY(100%);
}
.product-block .image .description h3{
	text-align: center;
	font-size: 14px;
	line-height: 23px;
	color: #fff;
	margin: 0;
	font-family: 'Montserrat', sans-serif  !important;
}
.product-block .image  a.link{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}
.elementor-15 .elementor-element.elementor-element-6e379b4 h2,
.testimonials-block h2,
.plan-head h2,
.support-head h2,
.product-head h2,
.extended-head h2,
.training-head h2{
	font-weight: 500 !important;
	font-size: 39px;
	line-height: 48px;
	color: #164F2C;
	font-family: 'Montserrat', sans-serif  !important;
}
.training-block .img{
	position: relative;
	overflow: hidden;
}
.training-block .img:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
	transition: all 0.3s linear;
}
.training-block .img:hover:before{
	opacity: 0;
}
.training-block .img a.link{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}
.training-block .img:hover .description .hide-block{
	max-height:288px;
	transition: all 0.5s linear;
	opacity: 1;
}
.training-block .description{
	position: absolute;
	z-index: 1;
	max-width: 310px;
}
.training-block .description .head{
	padding:10px 20px;
}
.training-block .description .hide-block{
	background: rgba(255, 255, 255, 0.9);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	max-height: 0;
	overflow: hidden;
	transition: all 0.5s linear;
	opacity: 0.6;
}
.training-block .description .hide-block .content{
	padding: 20px 20px 10px;
}
.training-block .description .hide-block ul{
	padding-left: 20px;
}
.training-block .description .hide-block ul li{
	font-weight: 300;
	font-size: 18px;
	line-height: 35px;
	font-family: 'Montserrat', sans-serif  !important;
}
.training-block .description.top{
	top: 0;
	left: 0;
}
.training-block .description:not(.top){
	bottom: 0;
	right: 0;
}
.training-block .description .head h3{
	margin: 0;
	font-weight: 500;
	font-size: 23px;
	line-height: 35px;
	font-family: 'Montserrat', sans-serif  !important;
}
.training-block .description .head h5{
	font-weight: 300;
	font-size: 18px;
	line-height: 35px;
	margin: 0;
	font-family: 'Montserrat', sans-serif  !important;
}
.training-block .elementor-col-33 .description .hide-block ul li{
	font-size: 14px;
	line-height: 1.944;
}
.support-block h4{
	font-weight: 500;
	font-size: 29px;
	line-height: 35px;
	color: #164F2C;
	font-family: 'Montserrat', sans-serif  !important;
	margin-bottom: 20px;
}
.support-block ul{
	padding-left: 25px;
}
.support-block p,
.support-block ul li{
	font-weight: 300;
	font-size: 18px;
	line-height: 35px;
	color: #1E1E1E;
	font-family: 'Montserrat', sans-serif  !important;
}
p:empty{
	display: none !important;
}
.plan-block h4,
.plan-block h4 a{
	font-size: 29px;
	line-height: 35px;
	color: #164F2C;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif  !important;
	transition: all 0.3s ease;
}
.plan-block h4 a:hover{
	color: rgba(22, 79, 44, 0.6);
}
.plan-block h4 strong{
	font-weight: 700;
}
.plan-block ul{
	padding-left: 25px;
}
.plan-block p{
	font-weight: 300;
	font-size: 18px;
	line-height: 35px;
	color: #1E1E1E;
	font-family: 'Montserrat', sans-serif  !important;
}
.plan-block ul ul{
	list-style: disc;
}
.plan-block ul li{
	font-weight: 300;
	font-size: 18px;
	line-height: 1.944;
	color: #1E1E1E;
	font-family: 'Montserrat', sans-serif  !important;
}
.plan-block ul li b,
.plan-block ul li strong{
	font-weight: 500;
}
.plan-block h5{
	font-size: 26px;
	line-height: 32px;
	font-weight: 500 !important;
	color: #164F2C;
	font-family: 'Montserrat', sans-serif  !important;
}
.plan-block h5 b,
.plan-block h5 strong{
	font-weight: 700 !important;
}
.plan-block h5 + p{
	font-weight: 300;
	font-size: 15px;
	line-height: 18px;
	color: #1E1E1E;
	font-family: 'Montserrat', sans-serif  !important;
}
.contact-form .wpcf7-text{
	width: 100%;
	height: 63px;
	border: 1px solid #F3F3F3;
	background: #F3F3F3;
	padding: 0 15px;
	margin-top: 5px;
	border-radius: 0;
}
.contact-form .wpcf7-text:focus-visible{
	outline: none;
}

.contact-form p > label{
	width: 100%;
	font-weight: 300;
	font-size: 18px;
	color: #1E1E1E;
	font-family: 'Montserrat', sans-serif  !important;
}
.contact-form .wpcf7-form-control-wrap{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	width: 100%;
}
.testimonials-block{
	background: url(/wp-content/uploads/2021/09/quote.png);
	background-repeat: no-repeat;
	background-position:7% bottom ;
}
.contact-form .wpcf7-textarea{
	width: 100%;
	height: 144px;
	border: 1px solid #F3F3F3;
	background: #F3F3F3;
	padding: 10px 15px;
	resize: none;
	margin-top: 5px;
	border-radius: 0;
}
.contact-form .wpcf7-form > p{
	margin-bottom: 0;
}
.contact-form .wpcf7-form > p:nth-of-type(-n+3){
	width: calc((100% - 40px) / 3);
	margin-bottom: 20px;
}
.contact-form .wpcf7-form > p:nth-of-type(n+4){
	width: 100%;
}
.contact-form .wpcf7-form {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.contact-form .wpcf7 .ajax-loader{
	display: none;
}
.contact-form .wpcf7-submit{
	width: 146px;
	height: 63px;
	border: none;
	border-radius: 0;
	margin: 30px 0 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #164F2C;
	border: 2px solid #164F2C;
	color: #fff;
	font-weight: 300;
	font-size: 18px;
	text-transform: uppercase;
	transition: all 0.3s ease;
	font-family: 'Montserrat', sans-serif  !important;
}
.contact-form .wpcf7-submit:hover{
	background: transparent;
	color: #164F2C;
}
.contact-form h5{
	font-weight: 500;
	font-size: 26px;
	color: #164F2C;
	font-family: 'Montserrat', sans-serif  !important;
}
.contact-form p{
	font-weight: 300;
	font-size: 18px;
	line-height: 35px;
	color: #1E1E1E;
	font-family: 'Montserrat', sans-serif  !important;
}
.contact-form a{
	font-weight: 700;
	font-size: 18px;
	line-height: 35px;
	font-family: 'Montserrat', sans-serif  !important;
	color: #164F2C;
	transition: all 0.3s ease;
}
.contact-form p:nth-of-type(2){
	margin-bottom: 30px;
}
.contact-form  .elementor-widget-icon-list{
	margin-top: 30px;
}

footer a:hover,
.contact-form a:hover{
	color: rgba(22, 79, 44, 0.6);
}
footer{
	padding-top: 80px;
	padding-bottom: 70px;
	visibility:visible !important;
}
footer a{
	transition: all 0.3s ease;
}
footer .elementor-icon-list-items{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	list-style: none;
	margin-top: 20px;
	margin-bottom: 0;
	padding-left: 0;
}
footer .elementor-icon-list-items i{
	font-size: 18px;
}
footer .elementor-icon-list-items a{
	color: #164F2C;
	transition: all 0.3s ease;
}
footer .elementor-icon-list-items a:hover{
	color: rgba(22, 79, 44, 0.6);
}
footer .elementor-icon-list-items li{
	margin: 0 10px;
}
footer .elementor-icon-list-items a i,
footer .elementor-icon-list-items a{
	color: #164F2C;
	transition: all 0.3s ease;
}
footer .elementor-icon-list-items a:hover i{
	color: rgba(22, 79, 44, 0.6);
}
footer p,
footer span,
footer a{
	color: #576065;
	font-weight: 300;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif  !important;
	text-transform: none !important;
}

.scrollToTop{
	display: none !important;
}
.training-block .img img{
	width: 100%;
}
.description-block p br{
	display: none;
}
.hover-box img{
	width: 100%;
}
.testimonials-slider {
	padding-bottom: 40px;
}
.testimonials-slider .item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex !important;
	flex-direction: row;
	flex-wrap: wrap;
}
.testimonials-slider .item img{
	width: 140px;
	height: 140px;
	object-fit: cover;
	object-position: center;
	border-radius: 50%;
	margin-right: 53px;
}
.testimonials-slider .description{
	width: calc(100% - 193px);
}
.testimonials-slider .description h3.title{
	font-weight: 500;
	font-size: 26px;
	font-family: 'Montserrat', sans-serif  !important;
	color: #fff;
	margin-bottom: 10px;
	margin-top: 0 !important;
}
.testimonials-slider .description h5.position{
	font-family: 'Montserrat', sans-serif  !important;
	color: #fff;
	font-weight: 300;
	font-size: 13px;
}
.testimonials-slider .description ol li,
.testimonials-slider .description ul li,
.testimonials-slider .description p{
	font-weight: 300;
	font-size: 18px;
	line-height: 35px; 
	color: #fff !important;
	font-family: 'Montserrat', sans-serif  !important;
}
.slick-dots li{
	background: #fff;
	border-radius: 50%;
	padding: 0;
	width: 15px;
	opacity: 0.6;
	height: 15px;
	transition: all 0.3s ease;
}
.slick-dots li button{
	display: none;
}
.slick-dots li:not(.slick-active):hover,
.slick-dots li.slick-active{
	opacity: 1;
}
#about .elementor-widget-wrap p:last-of-type{
	margin-bottom: 20;
}
#about .elementor-button{
	margin: 0 0 0 auto;
}
#about .elementor-button,
.desc-block  .elementor-button{
	width: 191px;
	height: 63px;
	font-weight: 300;
	font-size: 18px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 0;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif  !important;
	
}
@media (max-width: 1199px) {
	#home,
	#home .elementor-widget-wrap .elementor-widget-wrap{
		min-height: 600px;
	}
	.elementor-section.elementor-section-boxed > .elementor-container{
		max-width: 970px !important;
		padding: 0 15px;
	}
	#about .elementor-widget-wrap p {
		font-size: 16px;
		margin-bottom: 18px;
	}
	#about .elementor-widget-wrap p strong{
		font-size: 18px;
	}
	#about .elementor-widget-wrap h3{
		margin-bottom: 15px;
	}
	section section .elementor-container{
		padding-left: 0 !important;
		padding-right: 0 !important;
	} 
	section > .elementor-container{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.description-block ul li,
	.description-block p{
		font-size: 16px;
	}
	
	.hover-box .hover-box-text{
		width: 230px;
		height: 90px;
	}
	.hover-box .hover-box-text span{
		font-size: 16px;
		line-height: 26px;
		padding: 10px 15px 10px 75px;
	}
	.hover-box .hover-box-text span:before {
		top: 25px;
	}
	.hover-box .hover-box-more a{
		width: 90px;
		height: 70px;
	}
	.hover-box:hover .hover-box-text {
		transform: translateX(-90px);
	}
	.elementor-15 .elementor-element.elementor-element-1ebca90 > .elementor-element-populated {
		padding: 0px 0px 0px 30px !important;
	}
	.elementor-15 .elementor-element.elementor-element-8a161dd > .elementor-element-populated,
	.elementor-15 .elementor-element.elementor-element-45d1872 > .elementor-element-populated{
		padding: 0px 30px 0px 0px !important;
	}
	.desc-block p {
		line-height: 1.944;
		font-size: 16px;
	}
	.desc-block .elementor-widget-text-editor img {
		margin-bottom: 0px;
		width: 60px;
	}
	.training-block  .elementor-container{
		flex-wrap: wrap;
		flex-direction:row; 
	}
	.training-block .elementor-column.elementor-col-33{
		width: 50% !important;
	}
	.plan-block ul li{
		font-size: 16px;
	}
	.plan-block h4, .plan-block h4 a {
		font-size: 22px;
	}
	.plan-block h5 {
		font-size: 22px;
	}
	.elementor-15 .elementor-element.elementor-element-72f0647 > .elementor-widget-container{
		padding-bottom: 0 !important;
	}
	#contact{
		padding-top: 0 !important;
	}
}
@media (max-width: 991px) {
	.elementor-section.elementor-section-boxed > .elementor-container{
		max-width: 750px !important;
	}
	body .navbar-collapse.collapse{
		position: fixed;
		right: 0;
		top: 0;
		max-width: 320px;
		width: 100%;
		background: #000;
		height: 100% !important;
		padding: 110px 0 0;
		transform: translateX(100%);
		transition: all 0.3s ease;
	}
	body .navbar-collapse.collapse.open{
		transform: translateX(0%);
	}
	#menu-main-menu{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		align-items: self-start;
		width: 100%;
	}
	.navbar-header{
		width: 100%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding-left: 0;
		padding-right: 0;
	}
	.navbar .navbar-brand{
		margin: 0 auto 0 0 !important;
	}
	.navbar-toggle .sr-only{
		display: none;
	}
	.navbar-toggle .icon-bar{
		background: #fff;
		width: 40px;
		transition: all 0.3s ease;
	}
	.navbar-toggle .icon-bar + .icon-bar {
		margin-top: 8px;
	}
	.nav li{
		width: 100%;
	}
	.nav > li > a{
		padding: 10px 25px;
		
	}
	.navbar-toggle{
		order: 1;
		width: 40px;
		height: 40px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0;
		padding: 0;
		z-index: 10;
	}
	.navbar-toggle.close .icon-bar:nth-of-type(2){
		transform: rotate(45deg) translate(7px,7px);
	}
	.navbar-toggle.close .icon-bar:last-of-type{
		transform: rotate(-45deg)translate(7px,-7px);
	}
	.navbar-toggle.close .icon-bar:nth-of-type(3){
		opacity: 0;
	}
	#home .elementor-widget-wrap p{
		font-size: 18px;
		line-height: 1.3;
	}
	#home .elementor-widget-wrap h1 {
		font-size: 60px;
	}
	#home .elementor-widget-wrap .elementor-widget-wrap{
		padding-left: 80px;
	}
	#home .elementor-widget-wrap h1:before {
		left: -80px;
		width: 55px;
	}
	#about .elementor-widget-wrap p br{
		display: none;
	}
	.description-block ul li,
	.description-block p{
		font-size: 14px;
	}
	#about .elementor-widget-wrap p {
		font-size: 14px
	}
	#about .elementor-widget-wrap p strong {
		font-size: 16px;
	}
	.description-block {
		padding: 20px 0 10px;
	}
	.hover-box .hover-box-more a {
		font-size: 14px;
		line-height: 17px;
		width: 65px;
		height: 60px;
		padding: 0 10px;
	}
	.hover-box:hover .hover-box-text {
		transform: translateX(-65px);
	}
	.hover-box .hover-box-text{
		width: 180px;
	}
	.hover-box .hover-box-text span {
		padding: 10px 15px 10px 35px;
	}
	.hover-box .hover-box-text span::before {
		left: 0px;
		width: 20px;
	}
	.desc-block h3 {
		font-size: 28px;
		line-height: 1.231;
		margin-bottom: 10px;
	}
	.desc-block p {
		line-height: 1.944;
		font-size: 14px;
		margin-bottom: 15px;
	}
	.product-block .elementor-col-16{
		width: calc(100% / 3) !important;
	}
	.product-block .elementor-col-16 img{
		width: 100%;
	}
	.training-block .description .head h3 {
		font-size: 16px;
		line-height: 1.522;
	}
	.training-block .description .head h5,
	.training-block .description .hide-block p,
	.training-block .description .hide-block ul li{
		font-size: 14px;
		line-height: 1.944;
	}
	.training-block .description .hide-block .content {
		padding: 10px 20px 0px;
	}
	.training-block .img:hover .description .hide-block {
		max-height: 150px;
	}
	.support-block h4{
		font-size: 24px;
	}
	.support-block p,
	.support-block ul li{
		font-size: 14px;
		line-height: 1.944;
	}
	.plan-block ul li{
		font-size: 14px;
	}
	.plan-block h4, .plan-block h4 a {
		font-size: 18px;
	}
	.plan-block h5 {
		font-size: 20px;
	}
}
@media (max-width: 767px) {
	.elementor-section.elementor-section-boxed > .elementor-container{
		max-width: 100% !important;
	}
	.navigation-menu {
		width: 100%;
	}
	#home,
	#home .elementor-widget-wrap .elementor-widget-wrap{
		min-height: 78.740vw;
	}
	#home .elementor-widget-wrap h1{
		font-size: 7.823vw;
	}
	#home .elementor-widget-wrap p{
		font-size: 2.347vw;
	}
	
	.collapse{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
	.navbar-nav{
		margin: 0 !important;
	}
	#about{
		position: relative;
	}
	#about:before{
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: rgba(255,255,255,0.8);
	}
	#about .elementor-widget-wrap .elementor-widget-wrap{
		padding: 0 !important;
	}
	#about .elementor-widget-wrap p,
	#about .elementor-widget-wrap h3{
		text-align: center;
	}
	.description-block p br{
		display: none;
	}
	
	.navbar-header{
		padding-left: 15px;
		padding-right: 15px;
	}
	#home{
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.elementor-15 .elementor-element.elementor-element-1ebca90 > .elementor-element-populated,
	.elementor-15 .elementor-element.elementor-element-8a161dd > .elementor-element-populated, 
	.elementor-15 .elementor-element.elementor-element-45d1872 > .elementor-element-populated{
		padding: 0 15px 30px !important;
	}
	.desc-block .attachment-large{
		width: 100%;
		padding: 0 15px;
	}
	
	
	.elementor-15 .elementor-element.elementor-element-779e0a8,
	.elementor-15 .elementor-element.elementor-element-1b7f573,
	.elementor-15 .elementor-element.elementor-element-11ebf83{
		padding: 40px 0 !important;
	}
	.elementor-15 .elementor-element.elementor-element-1b7f573 .elementor-element-1ebca90{
		order: -1;
	}
	.elementor-15 .elementor-element.elementor-element-6e379b4,
	.elementor-15 .elementor-element.elementor-element-6745156 > .elementor-widget-container,
	.elementor-15 .elementor-element.elementor-element-ae1bbd3,
	.elementor-15 .elementor-element.elementor-element-496632b,
	.elementor-15 .elementor-element.elementor-element-db7f0ec,
	.elementor-15 .elementor-element.elementor-element-c1e91bc,
	.elementor-15 .elementor-element.elementor-element-820771e{
		padding-top: 40px !important;
	}
	.elementor-15 .elementor-element.elementor-element-61260e9,
	.elementor-15 .elementor-element.elementor-element-31ecbf7,
	.elementor-15 .elementor-element.elementor-element-5ed9c90,
	.elementor-15 .elementor-element.elementor-element-777416b {
		padding-bottom:40px !important;
	}
	.elementor-15 .elementor-element.elementor-element-ad40344{
		padding-bottom: 20px !important;
	}
	.elementor-15 .elementor-element.elementor-element-1885e57{
		padding-top: 20px !important;
		padding-bottom: 20px !important;
	}
	.elementor img{
		width: 100%;
	}
	.training-block .img:hover .description .hide-block {
		max-height: 52.107;
	}
	.training-block .elementor-column.elementor-col-33{
		width: 100% !important;
	}
	
}
@media (max-width: 579px) {
	.product-block .elementor-col-16{
		width: calc(100% / 2) !important;
	}
	.elementor-15 .elementor-element.elementor-element-6e379b4 h2,
	.testimonials-block h2,
	.plan-head h2, 
	.support-head h2, 
	.product-head h2, 
	.extended-head h2, 
	.training-head h2{
		font-size: 28px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.contact-form .wpcf7-form > p:nth-of-type(-n+3){
		width: 100%;
	}
	.testimonials-slider .description {
		width: 100%;
		padding-top: 30px;
	}
}
@media (max-width: 479px) {
	#home,
	#home .elementor-widget-wrap .elementor-widget-wrap{
		min-height: 96.360vw;
	}
	#home .elementor-widget-wrap h1:before{
		width: 11.482vw;
		left: -16.701vw;
	}
	#home .elementor-widget-wrap .elementor-widget-wrap{
		padding-left: 16.701vw;
	}
	.training-block .img img{
		height: calc(100vw - 20px) !important;
		object-fit: cover;
		object-position: center;
	}
	.plan-head h2 br, 
	.support-head h2 br, 
	.product-head h2 br,
	.extended-head h2 br, 
	.training-head h2  br{
		display: none;
	}
}